@mixin flex-gap($gap) {
	$gap-negative: ();
	@each $value in $gap {
		$gap-negative: append($gap-negative, -$value);
	}
	margin-right: $gap-negative;
	margin-bottom: $gap-negative;

	> * {
		margin-right: $gap;
		margin-bottom: $gap;
	}
}
